<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Demo_Magento::demo" title="Deals" module="Demo_Magento" sortOrder="1"
             resource="Demo_Magento::helloworld"/>

        <add id="Demo_Magento::post_id" title="Manage Deals" module="Demo_Magento" sortOrder="10"
             action="max/post/index"
             resource="Demo_Magento::post" parent="Demo_Magento::demo"/>

        <add id="Demo_Magento::hello_configuration_id" title="Configuration" module="Demo_Magento" sortOrder="5"
             parent="Demo_Magento::demo" action="adminhtml/system_config/edit/section/helloworld_section_id"
             resource="Demo_Magento::helloworld_configuration"/>
    </menu>
</config>
