<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magento_helloworld_post_listing_data_source" xsi:type="string">HelloWorldVirtualType</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HelloWorldVirtualType" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">demo_deal</argument>
            <argument name="resourceModel" xsi:type="string">Demo\Deal\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="change_price_before_add_to_cart" type="Demo\Deal\Plugin\ChangePrice" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="validate_qty_before_add_to_cart" type="Demo\Deal\Plugin\AddToCart" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="validate_update_items_in_cart" type="Demo\Deal\Plugin\UpdateQtyToCart" sortOrder="1" />
    </type>
</config>
